*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #aacefd;
}

.container{
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    margin: 3rem auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 2rem 3rem;
    border-radius: 10px;

}



h1{
    font-size: 3rem;
    color: #1cb295;
    margin-bottom: 1rem;
    border-bottom: 2px solid #1cb295;
    padding-bottom: 1rem;

}
p{
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 1rem;
}
span{
    color: #1cb295;
    font-weight: bold;
    text-decoration: underline;
}

.message {
    font-size: 1.5rem;
    color: red;
    margin-bottom: 1.5rem;
    text-align: center;
    display: none;
}

.words{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 1rem;

}
.words .word{
    background-color: #1cb295;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.words .word:hover{
    background-color: #198c6e;
}

.hint{
    font-size: 1.5rem;
    margin: 0.5rem 0;

}

.word-check {
    width: 30%;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    border: 2px solid #1cb295;
    border-radius: 5px;
    outline: none;
    margin:0.5rem auto;
    display: block;


}
.word-check:focus{
    border-color: #198c6e;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.guess{
    text-align: center;
    margin-bottom: 1rem;
    color: black;

}

.play-again{
    background-color: #1cb295;
    color: #fff;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: all 0.3s ease ;
}

.play-again:hover{
    background-color: #198c6e;
}

.play-again:active{
    transform: scale(0.9);
}