*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F7F7FB;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 60%;
    max-width: 1170px;
    height: 100vh;
    margin: 3rem auto;
}

/* responsive */
@media screen and (max-width: 768px){
    .container{
        width: 90%;
    }
}

.faq-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 6px 16px 0px rgba(74, 58, 255, 0.19);
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
 
}
.faq-section .question:active{
    transform: scale(0.98);
}
.active{
    border: 1px solid #4A3AFF;
    box-shadow: 0px 6px 16px 0px rgba(74, 58, 255, 0.19);
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;
    border-bottom: 1px solid #E5E5E5;
    transition: all 0.3s ease-in-out;
}

.question .plus{
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    color: #4A3AFF;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    transition: all 0.3s ease-in-out;
}



.question .plus:hover{
    background-color: #4A3AFF;
    color: #fff;
}
.question .minus{
    background-color: #4A3AFF;
    color: #fff;
}

.question h2{
    font-size: 1.6rem;
    font-weight: 500;
    color: #4A3AFF;
    width: 90%;
}

.answer p{
    font-size: 1.4rem;
    color: #444444;
    padding: 1rem 0;
    line-height: 1.5;
    width: 90%;
    margin: 0 auto;
    display: none;
    transition: all 0.3s ease-in-out;
}

.answer .visible{
    display: block;
}